# Virtual environment
venv/
pyvenv.cfg
.venv/
grpc-venv/
.pytest_cache/

# Compiled Python files
*.pyc
__pycache__/

# Local configuration
instance/
migrations/

# IDE and editor files
.vscode/
.idea/

# Log files
*.log